.address{
    font-size: 30px;
    font-weight: bold;
}
.price{
    font-size: 24px;
    font-weight: bold;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 70%
}
.icons{
    width: 30px;
    height: 30px;
    color:grey
}

.scheduleBttn{
    border: solid;
    width: 150px;
    height: 35px;
    background-color: blueviolet;
    border-radius: 10px;
    color: azure;
}
.highlightsBox{
    width: 50%;
    border:solid 
}