.dropDowns{
    display: flex;
    flex-direction: row;
}
.minPrice{
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    padding-right: 10px;
    position: relative;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 20;
    align-items: flex-start;
}